<tr>
  <td><%= counter.iteration %></td>
  <td><%= link_to 'Show', counter %></td>
  <td><%= link_to 'Edit', edit_counter_path(counter) %></td>
  <td><%= link_to 'Destroy', counter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
